.user__menu-wrapper {
    width: 15%;
    height: 100vh;
}

.user__menu {
    display: flex;
    flex-grow: 1;
    background-color: var(--color-black);
    color: var(--color-lightblue);   
}

.user__component-wrapper {
    flex-grow: 1;
    height: 100vh;
}